
.container{
  width: 75%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-menu-item:hover {
  background-color:transparent;
  color: yellowgreen;
}