
<h2>Hello, FanOfCucumbers !!</h2>
<br/>
<p>  Welcome to FanOfCucmbers .NET application for data visualisation of some cucumbers public data.</p>
<div class="container" width="80%">

<br/>
<br/>
<br/>

<h4>- About</h4>
<p>   * This application use cucumbers public data available here <a href="https://open.canada.ca/data/en/dataset/0c50b4e6-0f2d-47dd-8f8f-1d83f0ccd0c0">https://open.canada.ca/data/en/dataset</a>.</p>
<br/>
<br/>
<h4>- Credits for  dashbord access (demo version)</h4>
<p>   * Login: fanofcucumbers@gmail.com // Password: cuCUmberS!20</p>
</div>


<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

<footer class="footer border-top pl-3 text-muted">
    <div class="container">
    NajlaBioinfo &copy; 2020 - fanofcucumbers
    </div>
</footer>

