.mat-menu-item:hover {
    background-color:transparent;
    color: yellowgreen;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    color: navy;
  }
  
.mat-row:nth-child(even){
    background-color:whitesmoke;
    }

.mat-row:nth-child(odd){
    background-color: ghostwhite;
    }